  :root{
    --main-font-family: "Nunito Sans" , "Arial" , sans-serif; 
    --main-font-weight: 300; 
    --main-body-bg-color: #fafafa; 
    --main-text-color: #111517;
    --main-desc-color: #760c0c;
    --main-header-bg-color: #fff;
}

/* FONTS */ 
@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: 
    url("../fonts/nunito-sans-v12-latin-300.woff2") format("woff2"), 
    url("../fonts/nunito-sans-v12-latin-300.woff") format("woff"); 
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    url("../fonts/nunito-sans-v12-latin-regular.woff2") format("woff2"), 
    url("../fonts/nunito-sans-v12-latin-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: 
    url("../fonts/nunito-sans-v12-latin-600.woff2") format("woff2"), 
    url("../fonts/nunito-sans-v12-latin-600.woff") format("woff"); 
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: 
    url("../fonts/nunito-sans-v12-latin-800.woff2") format("woff2"), 
    url("../fonts/nunito-sans-v12-latin-800.woff") format("woff"); 
}
/* ROOT */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: 400;
    background-color: var(--main-body-bg-color);
    overflow-x: hidden;
}
.root{
    --main-body-bg-color: #202C36; 
    --main-header-bg-color:#2B3844;
    --main-text-color:#fff;
    --main-desc-color: #848484;
}
.site-main{
    flex-grow: 1;
}

.site-header{
    background-color: var(--main-header-bg-color);
    padding-top: 30px;
    padding-bottom: 30px;
}
.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header__btn{
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    color: var(--main-text-color);
}
.second__logo{
    width: 125px;
    height: 20px;
}
.form-select{
    background-image: url("../images/white.svg");
}
.site-header__btn::before{
    background-image: url("../images/month.svg");
    background-repeat: no-repeat;
    content: "";
    background-size: cover;
    display: inline-block;
    width: 12px;
    height: 11px;
    margin-right: 10px;
}

.form-control:focus{
    background-color: var(--main-header-bg-color);
    color: var(--main-text-color);
}
.input__zone{
    background-color: var(--main-header-bg-color);
}

.info__name{
    font-weight: 600;
    color: var(--main-text-color);
}
.info__number{
    color: var(--main-text-color);
    font-weight: 300;
}
.card-title{
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color:var(--main-text-color);
}
.link{
    text-decoration: none;
}
.root .info__name{
    font-weight: 600;
}
.root .info__number{
    font-weight: 300;
}
.root .site-header__btn::before {
    background-image: url("../images/Path.svg");
}
.root .form-select{
    background-image: url("../images/Shape.svg");
}
.second__logo{
    display: none;
}
.root .second__logo{
    display: block;
}
.root .black-logo{
    display: none;
}
.width{
    max-width: 343px;
    background-color:var(--main-header-bg-color);
}
.form-select__width{
    background-color: var(--main-header-bg-color);
    color: var(--main-text-color);
    max-width: 200px;
    width: 100%;
}
.btn{
    background-color: transparent;
    color: var(--main-desc-color);
    font-weight: 900;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.countries__title{
    font-size: 30px;
    color: var(--main-text-color);
}
.countries__desc{
    color: var(--main-desc-color);
    font-size:17px;
}
.country-style-all{
    color: var(--main-text-color);
    margin-left: 10px;
} 
.btn:hover{
    color: var(--main-header-bg-color);
    background-color: var(--main-desc-color);
    border-color: var(--main-header-bg-color);
}
.countries__item{
    max-width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 100%;
    background-color: var(--main-header-bg-color);
}
.countries__image{
    width: 299px;
    height: 200px;
}
@media only screen and (min-width:600px){
    .site-header__btn{
        font-size: 16px;
    }
    .black-logo{
        width: 230px;
        height: 33px;
    }
    .second__logo{
        width: 230px;
        height: 33px;
    }
}
@media only screen and (min-width:800px){
    
    .hero-section__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
